TCP_HOST=127.0.0.1
TCP_PORT=9000

JWT_TOKEN=eyJhbGciOi...

SAMPLE_RATE_HZ=50
PACKED_ITEMS=25

CONNECT_TIMEOUT_S=5
IO_TIMEOUT_S=5
RECONNECT_BACKOFF_S=2
SEND_LOOP_SLEEP_S=0.01

MAX_QUEUE_SAMPLES=200000


BACKEND_URL=http://10.10.28.46:8080/motion/data
DEVICE_ID=wearpark_device_001

SAMPLE_RATE_HZ=50
WINDOW_SECONDS=2
TIMEOUT_S=10

JWT_TOKEN="eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiI2OTg4Y2U3Nzg5MDNmNDQ5NjVmNGZjOWMiLCJpYXQiOjE3NzA2NTgxMzYsImV4cCI6MTc3MDc0NDUzNiwidGJ1IjoibG9naW4ifQ.ZPMPRMkKVjfpJAb_BTtZ4QCmDMd6FJwWp00UMSPRr44"
