TCP_HOST=127.0.0.1
TCP_PORT=9000

JWT_TOKEN=eyJhbGciOi...

SAMPLE_RATE_HZ=50
PACKED_ITEMS=25

CONNECT_TIMEOUT_S=5
IO_TIMEOUT_S=5
RECONNECT_BACKOFF_S=2
SEND_LOOP_SLEEP_S=0.01

MAX_QUEUE_SAMPLES=200000
